<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Quiz App</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create-quiz.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->

  <nav>
    <div class="nav-container">
      <span id="quiz-app">Quiz App</span>
    </div>
    <div class="navbar">
      <div class="logged-user">
        <p style="margin: 0.5em;">User ID :  <%= user_id %> </p>
      </div>

      <div class="nav-container" id="create-quiz">
      </div>
      <a href="/quiz/<%= user_id %>">
    Take a Quiz</a>
    <i id="qmark" class="fas fa-question-circle"></i>
  </div>
  </nav>

  <header class="container">
    <div class="headerPush"> </div>
    <div class="categories">
      <h2> Add Question</h2>
    </div>
  </header>
  <main>
    <div class="categories">
      <div class="container">
          <form method="post" action="/create-question">
            <input type="hidden" id="user_id" name="user_id" value="<%= user_id %>"><br><br>
            <input type="hidden" id="quiz_id" name="quiz_id" value="<%= quiz_id %>">
            <label for="question">Question:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="question" name="question" placeholder="Type a question" required><br><br>
            <label for="option1">Option 1:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="option1" name="option1" placeholder="Write option 1" required><br><br>
            <label for="option2">Option 2:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="option2" name="option2" placeholder="Write option 2" required><br><br>
            <label for="option3">Option 3:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="option3" name="option3" placeholder="Write option 3" required><br><br>
            <label for="option4">Option 4:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="option4" name="option4" placeholder="Write option 4" required><br><br>
            <label for="answer">Answer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="answer" name="answer" placeholder="Write correct answer" required><br><br>
            <input type="submit" value="Add" class="button button2">
            <button class="button button2"><a href="/">Back</a></button>
            <br> <br> <br>
          </form>

      </div>


    </div>
  </main>
  <br><br>

  <%- include('partials/_footer') %>

</body>

</html>

