<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz List Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/list.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- Font styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
 <!-- Latest compiled and minified CSS -->


 <!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="result-body">
    <!-- <h1>Result Page</h1> -->
    <nav>
      <!-- <div class="nav-container"> -->
        <span id="quiz-app">Quiz App</span>
      <!-- </div> -->
  <div class="navbar">
        <div class="logged-user">
          Logged in <%= user[0].name %>
        </div>

        <div class="nav-container" id="create-quiz">
          <a href="/create-quiz">
            Create a New Quiz</a>
        </div>

      <i id="qmark" class="fas fa-question-circle"></i>
    </div>
    </nav>
    <div class="headerPush"> </div>
      <h2 class="quiz-title" align="center">List of Quizzes </h2>
  <br><br>
  <div class="details">
    <table class="styled-table">
      <tr>
        <td>
    <h3 align="center">Public Quizzes </h3> </td>


    <td>

    <table class="styled-table">
      <thead>
          <tr>
              <th>Quiz Name</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <% for (let quizzes of Public) { %>
          <tr>
              <td><a href="/quiz/<%= quizzes.id %>"><%= quizzes.quiz_name %> </a> </td>
              <td> <button id ="btn" type="button" class="btn btn-info" name=<%= quizzes.id %> onclick="copyToClipboard(this.value)" value="localhost:8080/quiz/<%= quizzes.id %>">Share ! </button>
              <p></p> </td>
          </tr>

          <% } %>
          <!-- and so on... -->
      </tbody>
  </table>
</td>
</tr>
</table>



  </div>

  <div class="details">
    <table class="styled-table">
      <tr>
        <td>
    <h3 align="center">Private Quizzes </h3> </td>


    <td>
    <table class="styled-table">
      <thead>
          <tr>
              <th>Quiz Name</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <% for (let quizzes of Private) { %>
          <tr>
              <td><a href="/quiz/<%= quizzes.id %>"><%= quizzes.quiz_name %> </a></td>
              <td> <button id ="btn" type="button" class="btn btn-info" name=<%= quizzes.id %> onclick="copyToClipboard(this.value)" value="localhost:8080/quiz/<%= quizzes.id %>">Share ! </button> </td>
          </tr>

          <% } %>
          <!-- and so on... -->
      </tbody>

  </table>
</td>
</tr>
</table>
<div class="details">
  <table class="styled-table">
    <tr>
      <td>
  <h3 align="center">Quizzes Taken By Me </h3> </td>


  <td>
  <table class="styled-table">
    <thead>
        <tr>
            <th>Quiz Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
      <% for (let quizzes of MyResult) { %>
        <tr>
            <td><%= quizzes.quiz_name %> </a></td>
            <td><%= quizzes.score %> </td>
        </tr>

        <% } %>
        <!-- and so on... -->
    </tbody>

</table>
</td>
</tr>
</table>

  </div>
  <div class="details">
    <table class="styled-table">
        <tr>
          <td><h3 align="center">Recent Attempts of Your Quizzes </h3></td>


<td>
    <table class="styled-table">
      <thead>
          <tr>
              <th>Quiz Name</th>
              <th>User Name</th>
              <th>Score </th>
          </tr>
      </thead>
      <tbody>
        <% for (let quizzes of Result) { %>
          <tr>
              <td><%= quizzes.quiz_name %> </td>
              <td><%= quizzes.name %> </td>
              <td><%= quizzes.score %> </td>
          </tr>

          <% } %>
          <!-- and so on... -->
      </tbody>
    </table>
    </td>
  </tr>
  </table>


  </div>
  <!-- <script>
    $(document).ready(function(){
var $temp = $("<input>");
var $url = $('#btn').attr('value');
$('#btn').click(function() {
$("body").append($temp);
$temp.val($url).select();
document.execCommand("copy");
$temp.remove();
$("p").text("URL copied!");
});
});
    </script> -->
    <script>
      function copyToClipboard(text) {
      var inputc = document.body.appendChild(document.createElement("input"));
      inputc.value = text;
      inputc.focus();
      inputc.select();
      document.execCommand('copy');
      inputc.parentNode.removeChild(inputc);
      alert("URL Copied. Share your Quiz !");
      }
      </script>
</body>
<%- include('partials/_footer') %>
</html>
