<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/result.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="result-body">
  <nav>
    <!-- <div class="nav-container"> -->
      <span id="quiz-app">Quiz App</span>
    <!-- </div> -->
<div class="navbar">
      <div class="logged-user">
        Logged in <%= user[0].name %>
      </div>

      <div class="nav-container" id="create-quiz">
        <a href="/create-quiz">
          Create a New Quiz</a>
      </div>

    <i id="qmark" class="fas fa-question-circle"></i>
  </div>
  </nav>
  <div class="headerPush"> </div>
  <div class="result-container">
    <!-- <h1>Result Page</h1> -->

      <h2 class="quiz-title" align="center"><%= quiz_result[0].quiz_name %> Quiz </h2>

    <h4><%= quiz_result[0].name %>: Your Score </h4>
    <h2 class="score" align="center"><%= quiz_result[0].score %></h2>

    <form method="post" action="/quiz/<%= quiz_result[0].id %>">
      <div class="buttons">
        <% if (quiz_result[0].quiz_type == true ) { %>
        <button id="btn" type="button" class="btn btn-info" value="localhost:8080/<%= quiz_result[0].id %>/result" onclick="copyToClipboard()"> Share ! </button>&nbsp;&nbsp;
        <% } %>
        <button type="submit" class="btn btn-warning">Try Again</button>
        <p></p>
      </div>

    </form>
  </div>
  <br><br>
  <div class="details">
    <% for (let answer of quiz_result) { %>
      <span class="question"> Question: <%= answer.question %> </span>
      <span class="answer"> Your Answer: <%= answer.user_answer %></span>
      <% if (answer.user_answer !== answer.answer) { %>
      <span class="false">WRONG</span>
      <br>
      <% } else { %>
        <span class="true">CORRECT</span>
      <br>
      <% } %>
    <% } %>

  </div>

  <script>
    $(document).ready(function(){
var $temp = $("<input>");
var $url = $(location).attr('href');
$('#btn').click(function() {
$("body").append($temp);
$temp.val($url).select();
document.execCommand("copy");
$temp.remove();
$("p").text("URL copied!");
});
});
    </script>
</body>

</html>
