<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/result.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="result-body">
  <div class="result-container">
    <!-- <h1>Result Page</h1> -->

      <h2 class="quiz-title" align="center"><%= quiz_result[0].quiz_name %> Quiz </h2>

    <h4><%= quiz_result[0].name %>: Your Score </h4>
    <h2 class="score" align="center"><%= quiz_result[0].score %></h2>

    <form method="post" action="/:quiz_id">
      <div class="buttons">
        <button type="button" class="btn btn-info">Share ! </button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-warning">Try Again</button>
      </div>

    </form>
  </div>
  <br><br>
  <div class="details">
    <% for (let answer of quiz_result) { %>
      <span class="question"> Question: <%= answer.question %> </span>
      <span class="answer"> Your Answer: <%= answer.user_answer %></span>
      <% if (answer.user_answer !== answer.answer) { %>
      <span class="false">WRONG</span>
      <br>
      <% } else { %>
        <span class="true">CORRECT</span>
      <br>
      <% } %>
    <% } %>

  </div>

</body>

</html>
