<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Quiz App</title>

  <link rel="stylesheet" href="/styles/take-quiz.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <%- include('partials/_navbar') %>
  <div class="headerPush"></div>
    <header class="container">
      <div class="title">
        <p><%=quiz.name%> Quiz</p>
      </div>
      <div>
      <img id="image" class="quiz-image" src="<%=quiz.image_url%>">
    </div>
    </header>
    <main>
      <form action="/quiz/<%=quiz.id%>" method="post">
      <% for(let question of questions){ %>
      <div class="question-container">
        <div class="question">
          <%= question.question %>
        </div>


        <div class="options">
          <label class="form-control" for="answer1--<%=question.id%>" ><input type="radio" id="answer1--<%=question.id%>" name="<%=question.id%>" class="answer" value="<%=question.option1%>"><%=question.option1%></input></label><br>

          <label class="form-control" for="answer2--<%=question.id%>"><input type="radio" id="answer2--<%=question.id%>" name="<%=question.id%>" class="answer" value="<%=question.option2%>"><%=question.option2%></input></label><br>

          <label class="form-control" for="answer3--<%=question.id%>"><input type="radio" id="answer3--<%=question.id%>" name="<%=question.id%>" class="answer" value="<%=question.option3%>"><%=question.option3%></input></label><br>

          <label class="form-control" for="answer4--<%=question.id%>"><input type="radio" id="answer4--<%=question.id%>" name="<%=question.id%>" class="answer" value="<%=question.option4%>"><%=question.option4%></input></label><br>
        </div>

      </div>
      <% } %>
      <button class="quiz-button">
        Submit  <i class="fas fa-check-circle"></i>
      </button>
    </form>
    </main>

    <%- include('partials/_footer') %>
</body>

</html>
